<p>
    movie works!
</p>

<input [(ngModel)]="movie" placeholder="Search for Movie" (keyup)="searchMovie(movie)">

<div *ngIf="data">
    <div *ngFor="let flick of data">
        <DIV (click)="selectMovie(flick)">{{ flick.title }}</DIV>
    </div>
</div>

<input placeholder="RxJS search" (keyup)="searchTerm$.next($event.target.value)">

<ul *ngIf="results">
    <li *ngFor="let result of results | slice:0:9" (click)="selectMovie(result)">
        {{ result.title }}
    </li>
</ul>
<app-favorites [favorites]=savedMovies></app-favorites>
